.card {
    background: white;
    width: 800px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid transparent;

    &:hover {
        cursor: pointer;
        border: solid #34a4eb;
    }
}

.title {
    margin-top: 80px;
}

.label {
    display: flex;
    gap: 160px;
    font-weight: bolder;
}

.inputs {
    display: flex;
    gap: 30px;
}